

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  /*margin-bottom: -200px;*/
}

/*#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.41);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}*/

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
  text-shadow: 2px 2px 8px #fff;
}


#hero h2{
  color: #2c4964;
  background: rgba(255,255,255, 0.7);
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

#hero .btn-get-started:hover {
  background: #3291e6;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
  #hero .container {
    padding-bottom: 63px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: auto;
  }
}


#hero .countdown {
  margin-bottom: 80px;
}

#hero .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

#hero .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
  color: #ffffff;
}

#hero .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 575px) {
  #hero .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #hero .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #hero .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}