
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  background: url(../../../img/event/workshop/speed-class/intro-1.2.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  /*background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(11,50,111,1) 35%, rgba(255,177,0,0.09707633053221287) 100%);*/
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(19,111,204,0.53) 50%, rgba(19,111,204,1) 100%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 991px) {
  #intro .intro-container {
    top: 70px;
  }
}

#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-shadow: 2px 2px 5px #000;
  font-size: 56px;
  font-weight: 1000;
  text-transform: uppercase;
}

#intro h1 span {
  /*color: #f82249;*/
  color: #ff9b08;
}

@media (max-width: 991px) {
  #intro h1 {
    font-size: 34px;
  }
}

#intro p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #intro p {
    font-size: 16px;
  }
}

#intro .play-btn {
  width: 94px;
  height: 94px;
  /*background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);*/
  background: radial-gradient(#2279C9 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

#intro .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #000;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#intro .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#intro .play-btn:hover::after {
  /*border-left: 15px solid #f82249;*/
  border-left: 15px solid #68ADE2;
  transform: scale(20);
}

#intro .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #000;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  /*border: 2px solid #f82249;*/
  /*border: 2px solid #2279C9;*/
  border: 2px solid #fff;
}

#intro .about-btn:hover {
  background: #3189C9;
  color: #000;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# aboutof Section
--------------------------------------------------------------*/
#aboutof {
  background: url("../../../img/program/master-class/gallery/gallery-1.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

@media (min-width: 1024px) {
  #aboutof {
    background-attachment: fixed;
  }
}

#aboutof:before {
  content: "";
  /*background: rgba(13, 20, 41, 0.8);*/
  background: rgba(11, 50, 111, 0.9);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#aboutof h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#aboutof h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#aboutof p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
}

#aboutof li{
  font-size: 14px;
  margin-bottom: 0px;
  color: #fff;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: url("../../../img/program/basic-class/landing/hero-3.jpg") top center;
  background-size: cover;
  position: relative;
  /*margin-bottom: -200px;*/
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.67);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #2c4964;
}

#hero h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero p {
  margin-top: 10px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

#hero .btn-get-started:hover {
  background: #3291e6;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
  #hero .container {
    padding-bottom: 63px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: auto;
  }
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menu #menu-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border: 2px solid #2279C9;
  border-radius: 50px;
}

.menu #menu-flters li:hover, .menu #menu-flters li.filter-active {
  color: #fff;
  background: #2279C9;
}

.menu #menu-flters li:last-child {
  margin-right: 0;
}

.menu .menu-content {
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......................................................................"
 "...................................................................."
 "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #DCF2FE;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #2279C9;
}

.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}

.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  color: #948c81;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.feature {
  padding-top: 70px;
}

.feature .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: ease-in-out 0.3s;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
}

.feature .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.feature .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.feature .icon-box h3 a {
  color: #493c3e;
  transition: ease-in-out 0.3s;
}

.feature .icon-box:hover a {
  color: #e43c5c;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(11, 50, 111, 0.7), rgba(43, 56, 54, 0.5)), url("../../../img/event/workshop/speed-class/intro-1.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #3189C9;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #3189C9;
  border: 2px solid #3189C9;
}

.cta .countdown {
  margin-bottom: 80px;
}

.cta .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

.cta .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
  color: #ffffff;
}

.cta .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 575px) {
  .cta .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  .cta .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .cta .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

/*--------------------------------------------------------------
# Cta2
--------------------------------------------------------------*/
.cta2 {
  background: linear-gradient(rgba(11, 50, 111, 0.7), rgba(43, 56, 54, 0.5)), url("../../../img/event/workshop/speed-class/intro-1.2.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta2 h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta2 p {
  color: #fff;
}

.cta2 .cta2-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #3189C9;
  color: #fff;
}

.cta2 .cta2-btn:hover {
  background: #3189C9;
  border: 2px solid #3189C9;
}

.cta2 .countdown {
  margin-bottom: 80px;
}

.cta2 .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

.cta2 .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
  color: #ffffff;
}

.cta2 .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 575px) {
  .cta2 .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  .cta2 .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .cta2 .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

/* About Us Section
--------------------------------*/
#about-us {
  background: url("../../../img/program/presentation-class/benefit/bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

#about-us::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#about-us .container {
  position: relative;
  z-index: 10;
}

#about-us .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#about-us .about-col .img {
  position: relative;
}

#about-us .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about-us .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #1977cc;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about-us .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about-us .about-col:hover .icon {
  background-color: #fff;
}

#about-us .about-col:hover i {
  color: #1977cc;
}

#about-us .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about-us .about-col h2 a {
  color: #000;
}

#about-us .about-col h2 a:hover {
  color: #1977cc;
}

#about-us .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/*--------------------------------------------------------------
# Headers
--------------------------------------------------------------*/
#headers {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: url("https://wallpapercave.com/wp/wp4998087.jpg");
  /*background-image: linear-gradient(#68ADE2, #2c4964);*/
  /*background: url("../../../img/program/basic-class/landing/hero-3.jpg") top center no-repeat;*/
  /* countdown */
}

#headers h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#headers h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
}

#headers .countdown {
  margin-bottom: 80px;
}

#headers .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

#headers .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
  color: #ffffff;
}

#headers .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 575px) {
  #headers .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #headers .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #headers .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

#headers .subscribe {
  font-size: 15px;
  text-align: center;
}

#headers .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#headers .subscribe .subscribe-form {
  min-width: 300px;
  margin-top: 10px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
}

#headers .subscribe .subscribe-form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#headers .subscribe .subscribe-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #24b7a4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#headers .subscribe .subscribe-form input[type="submit"]:hover {
  background: #22ae9c;
}

#headers .subscribe .error-message {
  display: none;
  color: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#headers .subscribe .sent-message {
  display: none;
  color: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#headers .subscribe .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

#headers .subscribe .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#headers .social-links {
  margin-top: 40px;
}

#headers .social-links a {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding-top: 14px;
  margin: 0 3px;
  border-radius: 50%;
  text-align: center;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#headers .social-links a:hover {
  background: #24b7a4;
  border-color: #24b7a4;
}

/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
#schedule {
  padding: 60px 0 60px 0;
}

#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

#schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #2c4964;
  color: #fff;
  padding: 10px 100px;
}

@media (max-width: 991px) {
  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
  }
}

#schedule .nav-tabs a.active {
  background-color: #2279C9;
  color: #fff;
}

#schedule .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}

#schedule .tab-pane {
  transition: ease-in-out .2s;
}

#schedule .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item:hover {
  background-color: #fff;
}

#schedule .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}

#schedule .schedule-item .speaker {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 10px 10px 0;
}

#schedule .schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}

#schedule .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

#schedule .schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}

#schedule .schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}

/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #2279C9;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}


/*--------------------------------------------------------------
# bar-bottom
--------------------------------------------------------------*/

.bar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 16px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.bar-bottom .price b{
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #1977cc;
}


.bar-bottom .btn-daftar-sekarang {
  margin-left: 25px;
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.bar-bottom .btn-daftar-sekarang:hover {
  background: #166ab5;
  color: #fff;
}

/*--------------------------------------------------------------
# abouts 
--------------------------------------------------------------*/
.abouts {
  padding-bottom: 30px;
}

.abouts .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

.abouts .video-box img {
  padding: 15px 0;
}

.abouts .section-title p {
  text-align: left;
  font-style: italic;
  color: #666;
}

.abouts .about-content {
  padding: 40px;
}

.abouts .icon-box + .icon-box {
  margin-top: 40px;
}

.abouts .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f1f7fb;
  border-radius: 6px;
  transition: 0.5s;
}

.abouts .icon-box .icon i {
  color: #428bca;
  font-size: 32px;
}

.abouts .icon-box:hover .icon {
  background: #428bca;
}

.abouts .icon-box:hover .icon i {
  color: #fff;
}

.abouts .icon-box .title {
  margin-left: 95px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.abouts .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.abouts .icon-box .title a:hover {
  color: #428bca;
}

.abouts .icon-box .description {
  margin-left: 95px;
  line-height: 24px;
  font-size: 14px;
}

.abouts .video-box {
  position: relative;
}

.abouts .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.abouts .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.abouts .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(66, 139, 202, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.abouts .play-btn:hover::after {
  border-left: 15px solid #428bca;
  transform: scale(20);
}

.abouts .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# modal-login
--------------------------------------------------------------*/

.modal .btn-download {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 5px;
  border-radius: 22px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

.modal .modal-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}